h1,h2, h3,h4,h5, a, button, p, ul, li, figure{
    margin: 0 ;
    padding: 0;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}


body{
    overflow: hidden;
    overflow-y: auto;
    font-family: "Montserrat", sans-serif;
}


.section-space{
    padding-bottom: 5rem;
}