<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKYCAST Weather Service</title>
</head>
<body>
    <div class="site-wrapper">
        <header class="header"></header><!-- /.header -->
        <main class="main-content">
            <h1>SKYCAST Weather Service A RESTful weather service</h1>
        </main><!-- /.main-content -->
        <footer class="footer"></footer><!-- /.footer -->
    </div><!-- /.site-wrapper -->
</body>
</html>